.bird-container {
	position: absolute;
	top: 0px;
	left:-40%;
	animation-name: fly-right;
	width: 125px;
	height: 165px;

	transform: scale(0) translateX(-20vw);
	will-change: transform;

	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 13s;
	animation-delay: 1s;
	z-index: 0;
	cursor: url('../cursors/crosshair-blue.cur'), crosshair;
}

@keyframes fly-right {
	0% {transform: scale(0.4) translateX(-20vw);}
	10% {transform: translateY(0vh) translateX(-5vw) scale(0.7);}
	20% {transform: translateY(2vh) translateX(10vw) scale(0.6);}
	30% {transform: translateY(4vh) translateX(25vw) scale(0.7);}
	40% {transform: translateY(3vh) translateX(40vw) scale(0.8);}
	50% {transform: translateY(4vh) translateX(55vw) scale(0.7);}
	60% {transform: translateY(2vh) translateX(70vw) scale(0.6);}
	70% {transform: translateY(2vh) translateX(85vw) scale(0.7);}
	80% {transform: translateY(2vh) translateX(100vw) scale(0.8);}
	90% {transform: translateY(2vh) translateX(130vw) scale(0.8);}
	100% {transform: translateY(0vh) translateX(131vw) scale(0);}
}

.bird {
	position: relative;
	background-image: url(../images/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;

	margin: 20px;

	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-delay: 1s;	
	z-index: 0;
}

@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}
}
