::-webkit-scrollbar:horizontal {
	display: none;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: black;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: aqua;
}

::-webkit-scrollbar-button {
	background-color: black;
	border: 2px solid aqua;
	border-radius: 6px;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100%;
	scrollbar-color: aqua black;
	scrollbar-width: thin;
	-ms-overflow-style: none;

 	overflow-x: hidden;

	background-color: black;
	cursor: url('../cursors/white.cur'), auto;
}

html {
	min-height: 100%;
}

body {
	margin-top: 15px;
	margin-bottom: 15px;
	height: 100%;
}

body.color, html.color {
	background-color: #181818;	
}

.fade{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

h2 {
	font-family: "Roboto";
	color: aqua;

	padding-left: 1%;
	padding-right: 1%;
}

h2.color {
	color: #78C82D;
}

p.custom_font {
	font-family: "Roboto";
	color: white;

	padding-left: 70px;
	padding-right: 70px;
}

h2, p {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a.button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid aqua;
	margin: 0.3em 0.5em 0.3em 0.5em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto";
	color: aqua;
	text-align: center;
	transition: all 0.2s;
	cursor: url("../cursors/blue.cur"), auto;
	box-shadow: 0px 0px 8px 0px aqua;
}

a.button:hover {
	color: #2E151B;
	border-color: aqua;
	background-color: aqua;
	box-shadow: 0px 0px 15px 0px aqua;
}

a.color {
	color: #78C82D;
	border-color: #78C82D;
	box-shadow: 0px 0px 8px 0px #78C82D;
}

a.color:hover {
	border-color: #78C82D;
	background-color: #78C82D;
	box-shadow: 0px 0px 15px 0px #78C82D;
}

.bouncy {
	animation:bouncy 5s infinite linear;
	position:relative;
}

@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}

#modal {
	overflow: hidden;
	position: fixed;
	display: none;

	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: black;

	width: 80vw;
	height: 80vh;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	resize: both;

	border: thin solid aqua;
	border-radius: 10px;
}

#modal:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 17px;
	height: 17px;	  
	cursor: nwse-resize;
}

.close {
	color: #aaaaaa;

	border: 1px solid black;
	border-radius: 5px;
	
	padding-left: 5px;
	padding-right: 5px;
	
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;

	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	border-color: red;

	text-decoration: none;
	cursor: pointer;
}

#modal_content {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 2%;
	margin-right: 2%;

	height: calc(95% - 40px);
	width: 96%;
}

#iframe_modal {
	all: initial;

	border-radius: 5px;
	height: 100%;
	width: 100%;
}

.breaking {
	padding-bottom: 15px;

	width: 100%;
	word-wrap: break-word;

	transition: 0.2s;
}

.column {
	position: relative;
	float: left;
	width: 48.6%;
	margin-right: 0.7%;
	margin-left: 0.7%;
	text-align: center;

	padding-top: 15px;
	border: thick solid black;
	border-radius: 25px;
}

.row {
	display: flex;
}

.row .spinner {
	display: none;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 45vw;
	height: 28vw;
	min-height: 250px;
	border: thick solid aqua;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px aqua;
}

iframe.color {
	border-color: #78C82D;
	box-shadow: 0px 0px 12px 0px #78C82D;
}

img {
	width: 45vw;
	height: 28vw;
	min-height: 250px;
	border: thick solid aqua;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px aqua;
}

img.color {
	border-color: #78C82D;
	box-shadow: 0px 0px 12px 0px #78C82D;
}

.spinner {
	margin: auto;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid red;
	border-right: 3px solid yellow;
	border-bottom: 3px solid aqua;
	border-left: 3px solid #ff8000;
	width: 19px;
	height: 19px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	cursor: url("../cursors/blue.cur"), auto;
	box-shadow: 0px 0px 10px 0px aqua, inset 0px 0px 4px 0px aqua;
}

.spinnercolor {
	box-shadow: 0px 0px 10px 0px #78c82d, inset 0px 0px 4px 0px #78c82d;
}

.spinner:hover {
	width: 23px;
	height: 23px;
	margin-bottom: 1px;
	margin-top: 1px;
	border-width: 4px;
	box-shadow: 0px 0px 20px 0px aqua, inset 0px 0px 6px 0px aqua;
}

.spinnercolorhover:hover {
	box-shadow: 0px 0px 20px 0px #78c82d, inset 0px 0px 6px 0px #78c82d;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 1000px) {
	html {
		margin-top: 0;
	}

	h2 {
		padding-left: 1.5%;
		padding-right: 1.5%;
	}

	p.custom_font {
		padding-left: 6vw;
		padding-right: 6vw;
	}

	.column {
		position: relative;
		float: none;
		width: 100%;
		padding-top: 3vw;
		padding-bottom: 3vw;

		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;

		border: none;

		margin-top: 5px;
	}

	.row {
		display: unset;

		margin-bottom: 0;
		margin-top: 0;
	}

	.row .spinner {
		display: flex;
	}

	.breaking {
		padding-top: 0;
		padding-bottom: 0;
		width: 100vw;
		word-wrap: break-word;
	}

	iframe {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}

	img {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}
}