:root {
	--main-bg-color: black;
	--main-font-color: aqua;
}

::-webkit-scrollbar:horizontal {
	display: none;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: inherit;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: var(--main-font-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--main-font-color);
}

::-webkit-scrollbar-button {
	background-color: var(--main-font-color);
	border: 1px solid var(--main-font-color);
	border-radius: 20%;
	height: 25px;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	width: 100%;

	scrollbar-color: var(--main-font-color) inherit;
	scrollbar-width: thin;
	-ms-overflow-style: none;
 	overflow-x: hidden;

	cursor: url('../cursors/white.cur'), auto;
}

html {
	height: 100%;
	background-color: black;
}

html.color {
	background-color: #181818;
}

body {
    overflow: visible;
	min-height: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 6px;
	background-color: var(--main-bg-color);

	transition: background-color 0.2s linear;
}

@keyframes opac {
	from {
		opacity:0
	} 
	to {
		opacity:1
	}
}

h2 {
	font-family: "Roboto";
	color: var(--main-font-color);

	padding-left: 1%;
	padding-right: 1%;
}

p.custom_font {
	font-family: "Roboto";
	color: white;

	padding-left: 70px;
	padding-right: 70px;

	line-height: 150%;
}

.mark {
	color: var(--main-font-color);
	text-shadow: 0px 0px 10px var(--main-font-color);
}

h2, p {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a.button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid var(--main-font-color);
	margin: 0.3em 0.5em 0.3em 0.5em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto";
	color: var(--main-font-color);
	text-align: center;
	transition: all 0.2s;
	cursor: url("../cursors/blue.cur"), auto;
	box-shadow: 0px 0px 8px 0px var(--main-font-color);
}

a.button:hover {
	color: #2E151B;
	border-color: var(--main-font-color);
	background-color: var(--main-font-color);
	box-shadow: 0px 0px 15px 0px var(--main-font-color);
}

a.button:active {
	color: white;
	font-weight: bold;
}

a.button:focus-visible {
	outline: 3px solid var(--main-font-color);
	outline-offset: 7px;
	box-shadow: 0 0 0 10px var(--main-bg-color);
}

a.cursor {
	cursor: url("../cursors/green.cur"), auto;
}

.bouncy {
	animation:bouncy 5s infinite linear;
	position:relative;
}

@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}

#modal {
	overflow: hidden;
	position: fixed;
	display: none;

	z-index: 666;
	-webkit-overflow-scrolling: touch;
	outline: none;
	background-color: var(--main-bg-color);

	width: 80vw;
	height: 80vh;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	resize: both;

	border: medium solid var(--main-font-color);
	border-radius: 10px;
}

#modal:after {
	content: "";

	position: absolute;
	bottom: 4px;
	right: 4px;

	display: block;

	width: 20px;
	height: 20px;	 

	touch-action: none;
	cursor: nwse-resize;

	background-image: url("../images/resize.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#close_modal {
	color: #aaaaaa;

	border: 1px solid var(--main-bg-color);
	border-radius: 5px;
	
	padding-left: 5px;
	padding-right: 5px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close_modal:hover,
#close_modal:focus {
	color: red;
	border-color: red;

	text-decoration: none;
	cursor: pointer;
}

#close_modal:active {
	color: aqua;
	border-color: aqua;
}

#modal_content {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 2%;
	margin-right: 2%;

	height: calc(95% - 40px);
	width: 96%;

	transition: opacity 0.2s linear;
}

#iframe_modal {
	all: initial;

	border-radius: 5px;
	height: 100%;
	width: 100%;
}

.breaking {
	padding-bottom: 15px;

	width: 100%;
	word-wrap: break-word;

	transition: 0.2s;
}

.column {
	position: relative;
	float: left;
	width: 48%;
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;

	box-shadow: var(--column-border);
	padding-top: 30px;
	
	border: thick solid black;
	border-radius: 25px;

	animation: opac 0.8s;
}

.column_color {
	box-shadow: 0 0 10px 0 white;
}

.row {
	display: flex;
}

.row .spinner {
	display: none;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 44vw;
	height: 28vw;
	min-height: 250px;
	border: thick solid;
	border-color: var(--main-font-color);
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px white;
}

img {
	width: 44vw;
	height: 28vw;
	min-height: 250px;
	border: thick solid var(--main-font-color);
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px white;
}

video {
	width: 44vw;
	height: 28vw;
	min-height: 250px;
	border: thick solid var(--main-font-color);
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px white;
}

.png {
	position:absolute;
	background: var(--main-bg-color);
	cursor: url("../cursors/blue.cur"), auto;

	transition: opacity 0.2s linear;
}

.png:hover {
	opacity:0;
}

.spinner {
	width: 23px;
	height: 23px;

	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;

	border: 3px solid #f3f3f3;
	border-radius: 50%;
	border-top: 3px solid red;
	border-right: 3px solid yellow;
	border-bottom: 3px solid var(--main-font-color);
	border-left: 3px solid #ff8000;

	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	cursor: url("../cursors/blue.cur"), auto;
	box-shadow: 0px 0px 10px 0px var(--main-font-color), inset 0px 0px 2px 0px var(--main-font-color);
}

.spinner:hover {
	border-width: 5px;
	box-shadow: 0px 0px 15px 0px var(--main-font-color), inset 0px 0px 8px 0px var(--main-font-color);
}

.spinner:active {
	box-shadow: 0px 0px 30px 0px var(--main-font-color), inset 0px 0px 15px 0px var(--main-font-color);
}

.spinnercursor {
	cursor: url("../cursors/green.cur"), auto;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.coffee_btn {
	width: 35px;
	height: 45px;

	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.coffee_btn a {
	display: block;

	margin: auto;

	background-image: url("https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg");
	background-size: cover;

	width: 25px;
	height: 40px;

	transition: box-shadow 200ms linear;
}

.coffee_btn a:hover {
	box-shadow: 0 0 5px white;
}

.coffee_btn a:focus-visible {
	outline: 3px solid var(--main-font-color);
	outline-offset: 7px;
}

.coffee_btn a:active {
	box-shadow: 0 0 20px white;
}

@media only screen and (max-width: 1000px) {
	body {
		margin-top: 0;
		margin-bottom: 0;
	}

	h2 {
		padding-left: 1.5%;
		padding-right: 1.5%;
	}

	p.custom_font {
		padding-left: 6vw;
		padding-right: 6vw;
	}

	.column {
		position: relative;
		float: none;
		width: 100%;
		padding-top: 3vw;
		padding-bottom: 3vw;

		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;

		border: none;

		margin-top: 5px;
	}

	.column_color {
		box-shadow: none;
	}

	.row {
		display: unset;

		margin-bottom: 0;
		margin-top: 0;
	}

	.row .spinner {
		display: flex;
	}

	.breaking {
		padding-top: 0;
		padding-bottom: 0;
		width: 100vw;
		word-wrap: break-word;
	}

	iframe {
		height: 50vw;
		width: 90vw;
		min-height: 200px;
	}

	img {
		height: 50vw;
		width: 90vw;
		min-height: 200px;
	}

	video {
		height: 50vw;
		width: 90vw;
		min-height: 200px;
	}
}