::-webkit-scrollbar { 
	display: none; 
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p.custom_font {
	font-family: "Comic Sans MS"
}

.breaking {
	position: absolute;

	margin-top: 14vh;

	margin-left: 10vw;
	margin-right: 10vw;
	width: 80vw;

	font-size: 5vh;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	.breaking {
		position: absolute;

		margin-top: 15vh;

		margin-left: 10vw;
		margin-right: 10vw;
		width: 80vw;

		font-size: 4vh;
	}
}

@media screen and (max-width: 768px) and (orientation: landscape) {
		.breaking {
			position: absolute;

			margin-top: 10vh;

			margin-left: 10vw;
			margin-right: 10vw;
			width: 80vw;

			font-size: 6vh;
		}
}
