::-webkit-scrollbar { 
	display: none; 
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	width: 100%;
 	scrollbar-width: none;
	background-color: #2E151B;
}

.fade{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

h2 {
	font-family: "Baskerville";
	text-decoration: underline;
	color: #00FFFF;

	padding-left: 1%;
	padding-right: 1%;
}

p.custom_font {
	font-family: "Baskerville";
	color: #ff8000;

	padding-left: 70px;
	padding-right: 70px;
}

a.button{
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #00FFFF;
	margin: 0.3em 0 0.3em 0.3em;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Baskerville";
	color: #00FFFF;
	text-align: center;
	transition: all 0.2s;
}

a.button:hover{
	color: #2E151B;
	border-color: white;
	background-color: white;
}

.bouncy{
	animation:bouncy 5s infinite linear;
	position:relative;
}

@keyframes bouncy {
	0%{top:0em}
	40%{top:0em}
	43%{top:-0.9em}
	46%{top:0em}
	48%{top:-0.4em}
	50%{top:0em}
	100%{top:0em;}
}

.breaking{
	padding-bottom: 5%;

	width: 100%;
	word-wrap: break-word;

	transition: 0.2s;
}

.column {
	position: relative;
	float: left;
	width: 49%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	text-align: center;

	padding-top: 20px;
	border: 2px solid;
	border-color: #00FFFF;
	border-radius: 20px;
}

.row {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 47vw;
	height: 28vw;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;
}

img {
	width: 47vw;
	height: 28vw;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;
}

@media only screen and (max-width: 1000px) {
	h2 {
		padding-left: 1.5%;
		padding-right: 1.5%;
	}

	p.custom_font {
		padding-left: 6vw;
		padding-right: 6vw;
	}

	.column {
		position: relative;
		float: none;
		width: 100%;
		text-align: none;
		padding-top: 3vw;
		padding-bottom: 3vw;

		margin-right: 0;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;

		border: none;

		margin-top: 5px;
	}

	.row {
		display: unset;
		margin-bottom: 0;
		margin-top: 0;
	}

	.breaking{
		padding-top: 0;
		padding-bottom: 0;
		width: 100vw;
		word-wrap: break-word;
	}

	iframe {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}

	img {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}
}