@charset "UTF-8";

html, body {
	overflow: hidden; 
	scrollbar-width: none;
}

.nav_toggle {
	position: absolute;
	z-index: 3;
	background-color: rgba(24, 24, 24, 0.4);
	top: 15px;
	left: 15px;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color .15s linear;
}

.nav_toggle:hover {
	background-color: rgba(24, 24, 24, 1);
}

.nav {
	height: 100%;
}

.header {
	height: 100%;
}

.nav_menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 2;
	visibility: hidden;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
}

.menuicon {
	display: block;
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	cursor: url("../cursors/blue.cur"), auto;
}

.menuicon:hover .menuicon__bar, .menuicon:hover .menuicon__circle {
	color: aqua;
}

.menuicon__bar, .menuicon__circle {
	fill: none;
	stroke: currentColor;
	stroke-width: 3;
	stroke-linecap: round;
	color: white;
}

.menuicon__bar {
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.menuicon__circle {
	transition: stroke-dashoffset .3s linear .1s;
	stroke-dashoffset: 144.513262038;
	stroke-dasharray: 144.513262038;
}

.nav:target .menuicon, .nav--open .menuicon {
	color: white;

	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav:target .menuicon__circle, .nav--open .menuicon__circle {
	stroke-dashoffset: 0;
}

.nav:target .menuicon__bar:nth-child(1), .nav:target .menuicon__bar:nth-child(4),
	.nav--open .menuicon__bar:nth-child(1), .nav--open .menuicon__bar:nth-child(4) {
		opacity: 0;
}

.nav:target .menuicon__bar:nth-child(2), .nav--open .menuicon__bar:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav:target .menuicon__bar:nth-child(3), .nav--open .menuicon__bar:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav:target .nav_menu, .nav--open .nav_menu {
	visibility: visible;
}

#profile_pic_full {
	width: 135px;
	height: 135px;

	margin-top: 8vh;
	margin-bottom: 1vh;
	margin-left: 30px;
	margin-right: 30px;

	border: 6px solid #2E151B;
	border-radius: 50%;
}

#profile_pic_full:hover {
	animation: cycle 2s infinite;
	animation-direction: alternate;
	cursor: url("../cursors/blue.cur"), auto;
	box-shadow: 0px 0px 30px 0px aqua;
}

.fade_down {
	opacity: 0;
	transition: 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
	transition-property: opacity;
}

.nav:target .fade_down,
.nav--open .fade_down {
	opacity: 1;
	-webkit-transform: translateY(0);
			transform: translateY(0);
}