body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
 	scrollbar-width: none;
	cursor: url('../cursors/crosshair.cur'), crosshair;
}

::-webkit-scrollbar { 
	display: none; 
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;

	animation:opac 0.2s;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

p.custom_font {
	font-family: "Roboto";
	font-size: 22px;
	margin-right: 20vw;
	margin-left: 20vw;
	text-align: center;
	text-shadow: 0 0 1.5px #4B6364, 1px 1px 5px white;
	font-weight: bold;
	color: transparent;

	overflow: hidden; /* Ensures the content is not revealed until the animation */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

p.animation {
	animation: typing 3s steps(100, end);
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

.breaking{
	width: 100%;
	word-wrap: break-word;
	transition: 0.2s;
}

@media screen and (max-width: 800px) {
	p.custom_font {
		font-size: 18px;
	}
}

@keyframes opac{
	from{
		opacity:0
	} to{
		opacity:1
	}
}