::-webkit-scrollbar { 
	display: none; 
}

* {
	box-sizing: border-box;
}

.breaking{
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	width: 100%;
	word-wrap: break-word;
}

.column {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.row {
	margin-bottom: 20px;
	margin-top: 20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 45vw;

	height: 40vh;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;
}

img {
	width: 45vw;

	height: 40vh;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;
}

@media only screen and (max-width: 859px) {
	.column {
		width: 100vw;

		margin-bottom: 10vh;
		margin-top: 4vh;
		margin-right: 0;
		margin-left: 0;

		float: none;
	}

	.row {
		width: 100vw;
		margin-bottom: 0;
		margin-top: 0;
	}

	.breaking{
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 3vw;
		padding-right: 3vw;
		width: 96vw;
		word-wrap: break-word;
	}

	iframe {
		height: 40vh;
		width: 90vw;
	}

	img {
		height: 40vh;
		width: 90vw;
	}
}