::-webkit-scrollbar { 
	display: none; 
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.fade{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

p.custom_font {
	font-family: "Baskerville"
}

.breaking{
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	width: 100%;
	word-wrap: break-word;

	transition: 0.2s;
}

.column {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.row {
	margin-bottom: 20px;
	margin-top: 20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

iframe {
	width: 48vw;
	height: 28vw;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;
	
	transition: 0.2s;
}

img {
	width: 48vw;
	height: 28vw;
	min-height: 250px;

	padding-right: 5px;
	padding-left: 5px;

	transition: 0.2s;
}

@media only screen and (max-width: 1000px) {

	.column {
		position: relative;
		float: none;
		width: 100%;
		text-align: none;
		padding-top: 3vw;
		padding-bottom: 3vw;
	}

	.row {
		margin-bottom: 0;
		margin-top: 0;
	}

	.breaking{
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 3vw;
		padding-right: 3vw;
		width: 96vw;
		word-wrap: break-word;
	}

	iframe {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}

	img {
		height: 50vw;
		width: 95vw;
		min-height: 200px;
	}
}